<div class="jumbotron jumbotron-fluid" style="background:#4c4c4c; height:60px; min-height:50px;      padding: 0rem 0rem;">

    <div class="container">

    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-sm-6">


            <div class="card  bg-light">
                <div class="row ">
                    <div class="col-auto">
                        <img class="img-fluid" src="https://banner2.kisspng.com/20180131/vze/kisspng-pepsi-one-pepsi-globe-pepsi-logo-transparent-png-5a7243b5d649d1.7108276515174378778777.jpg" style="max-width:100px">
                    </div>
                    <div class="col">
                        <div class="card-block px-2">
                            <h3 class="card-title display-5" style="color:#4c4c4c;margin-top:10px">Title</h3>
                            <p class="card-text display-6" style="color:#4c4c4c">Description</p>
                        </div>
                    </div>
                </div><div class="card-footer bg-light"> Footer stating cats are CUTE little animals </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

</div>