    <!-- ***** Header Area Start ***** -->
<header class="header_area animated sticky slideInDown">
    <div class="container-fluid">
        <div class="row align-items-center">
            <!-- Menu Area Start -->
            <div class="col-12 col-lg-10">
                <div class="menu_area">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <!-- Logo -->
                        <div class="row">
                         
                            <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        </div>
                        <!-- Menu Area -->
                        <div class="collapse navbar-collapse" id="ca-navbar">
                            <ul class="navbar-nav ml-auto" id="nav">
                                <li class="nav-item active"><a class="nav-link" href="Index#home">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="Index#features">Features</a></li>
                                <li class="nav-item"><a class="nav-link" href="/Index#about">Support</a></li>
                                <li class="nav-item"><a class="nav-link" href="/Index#downloads">Downloads</a></li>
                                <li class="nav-item"><a class="nav-link" href="/Index#screenshot">Platforms</a></li>
                                <li class="nav-item"><a class="nav-link" href="/Index#testimonials">Testimonials</a></li>
                                <li class="nav-item"><a class="nav-link" href="/Plugins">Plugins</a></li>

                                <li class="nav-item"><a class="nav-link" href="/Index#contact">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>